@font-face {
  font-family: 'LilyWang';  
  src: url('LILYWANG_BASE64') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 190mm;
  height: 130mm;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
  font-family: 'LilyWang', cursive;
}

.envelope-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 190mm;
  height: 130mm;
  z-index: 1;
}

.envelope-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  color: black; /* White text */
}

/* Name positioning - will be positioned dynamically by JS */
.envelope-name {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 30pt;  /* Increased base size from 28pt to 30pt */
  line-height: 1.1;  /* Slightly more spacing for multi-line names */
  padding: 0 20mm;  /* INCREASED padding to keep text well away from decorative border */
  color: black;
  /* Removed white-space: pre-wrap to allow natural CSS text wrapping */
}

/* Address positioning - will be positioned dynamically by JS */
.envelope-address {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 19pt;  /* Original working size */
  line-height: 1.1;  /* Original spacing */
  padding: 0 15mm;  /* Keep original address padding */
  color: black;
  /* Removed white-space: pre-wrap to allow natural CSS text wrapping */

}



