/* ========================
   FONT DEFINITIONS
   ======================== */
@font-face {
  font-family: 'Griffiths';
  src: url('GRIFFITHS_BASE64') format('truetype');
}

@font-face {
  font-family: 'LilyWang';  
  src: url('LILYWANG_BASE64') format('opentype');
}

/* ========================
   GLOBAL STYLES
   ======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 180mm;
  height: 240mm;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
}

/* ========================
   FONT CLASSES
   ======================== */
.block-font {
  font-family: 'Griffiths', Georgia, serif;
}

.fancy-font {
  font-family: 'LilyWang', cursive;
}

/* Block font bold class - used by JavaScript */
.block-font-bold {
  font-family: 'Griffiths', Georgia, serif !important;
  font-weight: 500 !important;
}

/* ========================
   LAYOUT CONTAINERS
   ======================== */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 180mm;
  height: 240mm;
  z-index: 1;
}

.letter-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* ========================
   DATE DISPLAY
   ======================== */
.date-display {
  position: absolute;
  top: 40mm;
  left: 16mm;
  right: 16mm;
  text-align: right;
  font-size: 18pt;
  z-index: 3;
}

/* Block font specific date styling */
.block-font .date-display {
  font-family: 'Griffiths', Georgia, serif !important;
  font-size: 16pt;
  letter-spacing: 1pt;
  font-weight: 700 !important;
}

/* Fancy font date styling */
.fancy-font .date-display {
  font-family: 'LilyWang', cursive;
}

/* ========================
   LETTER CONTENT
   ======================== */
.letter-content {
  position: absolute;
  top: 50mm;
  left: 16mm;
  right: 16mm;
  height: 152mm;
  overflow: hidden;
  padding: 2mm;
}

/* Paragraph styling */
.letter-content p {
  margin-bottom: 10pt;
  text-align: justify;
  text-justify: inter-word;
}

.letter-content p:first-child {
  margin-bottom: 10pt;
  margin-top: 0;
}

.letter-content p:last-child {
  margin-bottom: 0;
}

/* Block font paragraph styling */
.block-font p {
  font-family: 'Griffiths', Georgia, serif !important;
  font-weight: 700 !important;
}

/* Fancy font paragraph styling */
.fancy-font p {
  font-family: 'LilyWang', cursive;
}

/* ========================
   P.S. MESSAGE
   ======================== */
.ps-message {
  position: absolute;
  bottom: 11mm;
  left: 16mm;
  right: 16mm;
  height: 16mm;
  overflow: hidden;
  padding: 2mm;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ps-message-inner {
  /* Container for P.S. measurement */
}

.ps-message p {
  margin: 0;
}

/* Remove bold from P.S. strong tag */
.ps-message strong {
  font-weight: normal;
}

/* Block font P.S. styling */
.block-font .ps-message p {
  font-family: 'Griffiths', Georgia, serif !important;
  font-weight: 700 !important;
}

/* ========================
   UTILITY CLASSES
   ======================== */
.personalized-text {
  /* No styling - just plain text */
}

